*resharper.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.gpstate
*.suo
*.sln.cache
_ReSharper.*/
*.user
*.swp
*.dbmdl
[pP]ackages
[pP]ackage
*.log
TestResults/
*.orig
.classpath
.project
.settings/
[Bb]uild
*.mdf
*.ldf
